.home {
    color: #2A2D34;
    padding: 0;
    margin: 0;

  }


  h1, h2 {
    font-family: Consolas, monaco, monospace !important
  }
  .big-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2A2D34;
    max-width: 60%;
    margin-top: 3rem;
    padding: 2rem;
    border-radius: 10%;
    border-width: 10px;
    border-color: #DDF8E8;
    border-style: solid;
    color: #DDF8E8;


  }
  
  .intro-text {
    max-width: 50%;
    text-align: justify;
  }
  
  .intro h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .intro p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .intro-image img {
    max-width: 300px;
    border-radius: 80%;
    border-style: solid;
    border-color: #DDF8E8;
    border-width: 10px;
  }
  

